.navbar {
    width: fit-content;
    margin: auto;
}

.navbar-brand {
    background-color: #6BCD76;
    border-radius: 17px;
    border-color: transparent;
}

.nav-box {
    width: fit-content;
}

.main-title {
    font-size: 40px;
    margin-right: 0;
}

.nav-item {
    background-color: #75DB81;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item button {
    font-size: 20px;
}

.last-item {
    border-end-end-radius: 17px;
    border-start-end-radius: 17px;
}