/* On screens that are 844px wide or less */
@media screen and (max-width: 844px) {
    .squares {
        display: none;
    }

    .main-title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem !important;
    }

    .page-button {
        font-size: 1.5rem !important;
    }

}

@media screen and (max-width: 993px) {

    .nav-menu {
        flex-wrap: nowrap !important;
        flex-direction: column;
        padding: 0 !important;
    }

    .main-title {
        margin-bottom: 10px;
    }

    .navbar-nav {
        flex-direction: row !important;
    }

    .first-item {
        border-start-start-radius: 17px;
        border-end-start-radius: 17px;
    }

    .nav-item {
        width: 122px;
    }

    #main-row {
        display: flex;
        flex-direction: column;
    }

    #rectangle {
        height: 22rem !important;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 10px;
    }

    #social-box {
        width: 300px !important;
        background: #75DB81;
        border-radius: 10px;
        display: flex !important;
        flex-direction: column;
    }

    .sn-container{
        margin-bottom: 20px !important;
    }
}